.product {
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    margin-right: 20px;
    padding-bottom: 5px;
}
.product-name {
    color: blue;
    font-weight: 400;
}
.main-btn {
    background-color: gold;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid darkgray;
    cursor: pointer;
}